Repository bakate/turborepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: generalize README to be framework agnostic
  README.md
Due: prettier --write

chore: fix lint-staged and vite app ignored files
  .gitignore
  .lintstagedrc
  apps/web/index.html
  apps/web/package.json
  apps/web/public/vite.svg
  apps/web/src/main.ts
  apps/web/src/style.css
  apps/web/src/typescript.svg
  apps/web/tsconfig.json
  packages/domain/eslint.config.ts
  packages/domain/src/todos.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/prettier/index.js
  tooling/vitest-config/.cache/tsbuildinfo.json
  tooling/vitest-config/src/configs/ui-config.ts
  tooling/vitest-config/src/scripts/collect-json-outputs.ts
  turbo.json
Due: prettier --write, eslint --fix

chore: move dev persistence to app-scoped turbo.json
  apps/web/turbo.json
  turbo.json
Due: prettier --write

chore: update gitignore and untrack staged cache files
  .gitignore
  tooling/vitest-config/.cache/tsbuildinfo.json
Due: prettier --write

docs: add explanatory comments to pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

chore: update project dependencies and standardize Biome configuration across workspaces
  README.md
  apps/web/biome.json
  apps/web/package.json
  apps/web/src/main.ts
  biome.json
  package.json
  packages/domain/.cache/tsbuildinfo.json
  packages/domain/biome.json
  packages/domain/package.json
  packages/domain/src/todos.test.ts
  packages/domain/src/todos.ts
  packages/domain/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/biome-config/biome.json
  tooling/vitest-config/biome.json
  tooling/vitest-config/package.json
Due: prettier --write, eslint --fix

feat(api): bootstrap Nest.js API workspace with DDD-inspired architecture and todo CRUD module
  README.md
  apps/api/biome.json
  apps/api/nest-cli.json
  apps/api/package.json
  apps/api/src/config/app.config.test.ts
  apps/api/src/config/app.config.ts
  apps/api/src/main.ts
  apps/api/src/modules/app.module.ts
  apps/api/src/modules/health/presentation/health.controller.ts
  apps/api/src/modules/todos/application/ports/todo-repository.port.ts
  apps/api/src/modules/todos/application/use-cases/create-todo.use-case.test.ts
  apps/api/src/modules/todos/application/use-cases/create-todo.use-case.ts
  apps/api/src/modules/todos/application/use-cases/list-todos.use-case.test.ts
  apps/api/src/modules/todos/application/use-cases/list-todos.use-case.ts
  apps/api/src/modules/todos/domain/todo.test.ts
  apps/api/src/modules/todos/domain/todo.ts
  apps/api/src/modules/todos/infrastructure/persistence/in-memory-todo.repository.ts
  apps/api/src/modules/todos/presentation/http/create-todo.request.ts
  apps/api/src/modules/todos/presentation/http/todos.controller.ts
  apps/api/src/modules/todos/presentation/http/todos.openapi.ts
  apps/api/src/modules/todos/todos.module.ts
  apps/api/src/shared/presentation/api-documentation.ts
  apps/api/src/shared/presentation/api-error.ts
  apps/api/src/shared/presentation/http-exception.filter.ts
  apps/api/src/shared/presentation/zod-validation.pipe.ts
  apps/api/src/shared/result.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  apps/api/vitest.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write, eslint --fix

feat(ui): integrate Mantine UI component library & improve Biome linting/formatting configuration
  .vscode/settings.json
  apps/web/index.html
  apps/web/package.json
  apps/web/public/vite.svg
  apps/web/src/main.ts
  apps/web/src/main.tsx
  apps/web/src/style.css
  apps/web/src/typescript.svg
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  packages/ui/biome.json
  packages/ui/package.json
  packages/ui/src/carousel.ts
  packages/ui/src/charts.ts
  packages/ui/src/code-highlight.ts
  packages/ui/src/core.ts
  packages/ui/src/dates.ts
  packages/ui/src/dropzone.ts
  packages/ui/src/form.ts
  packages/ui/src/hooks.ts
  packages/ui/src/icons.ts
  packages/ui/src/modals.ts
  packages/ui/src/notifications.ts
  packages/ui/src/nprogress.ts
  packages/ui/src/spotlight.ts
  packages/ui/src/styles.css
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/biome-config/biome.json
Due: prettier --write, eslint --fix

feat(todo-list): implement todo list state machine with xstate
  apps/api/package.json
  apps/api/src/modules/todos/application/use-cases/create-todo.use-case.test.ts
  apps/api/src/modules/todos/application/use-cases/list-todos.use-case.test.ts
  apps/api/src/modules/todos/domain/todo.test.ts
  apps/web/package.json
  apps/web/src/features/todos/use-todo-list-machine.ts
  apps/web/src/infrastructure/http/todo-http-gateway.ts
  apps/web/src/main.tsx
  apps/web/vite.config.ts
  packages/application/biome.json
  packages/application/package.json
  packages/application/src/todos/machines/todo-list.machine.test.ts
  packages/application/src/todos/machines/todo-list.machine.ts
  packages/application/src/todos/ports/todo-gateway.ts
  packages/application/tsconfig.json
  packages/application/vitest.config.ts
  packages/domain/src/todos.test.ts
  packages/domain/src/todos.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

feat(todo): add create todo functionality using XState machine and HTTP gateway integration
  apps/web/src/features/todos/use-create-todo-machine.ts
  apps/web/src/infrastructure/http/todo-http-gateway.ts
  apps/web/src/main.tsx
  packages/application/package.json
  packages/application/src/todos/machines/create-todo.machine.test.ts
  packages/application/src/todos/machines/create-todo.machine.ts
  packages/application/src/todos/ports/todo-gateway.ts
Due: prettier --write, eslint --fix

docs: update README with refined project structure, stack details, and contribution guidelines
  README.md
Due: prettier --write

refactor: colocate application machines and ports within frontend features
  README.md
  apps/web/package.json
  apps/web/src/features/todos/application/machines/create-todo.machine.test.ts
  apps/web/src/features/todos/application/machines/create-todo.machine.ts
  apps/web/src/features/todos/application/machines/todo-list.machine.test.ts
  apps/web/src/features/todos/application/machines/todo-list.machine.ts
  apps/web/src/features/todos/application/ports/todo-gateway.ts
  apps/web/src/features/todos/use-create-todo-machine.ts
  apps/web/src/features/todos/use-todo-list-machine.ts
  apps/web/src/infrastructure/http/todo-http-gateway.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  packages/application/biome.json
  packages/application/package.json
  packages/application/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor: remove shared domain package in favor of feature-local models and DTOs
  README.md
  apps/api/src/modules/todos/application/use-cases/create-todo.use-case.ts
  apps/api/src/modules/todos/application/use-cases/list-todos.use-case.ts
  apps/api/src/modules/todos/domain/todo.test.ts
  apps/api/src/modules/todos/domain/todo.ts
  apps/api/src/modules/todos/presentation/http/todo-response.dto.test.ts
  apps/api/src/modules/todos/presentation/http/todo-response.dto.ts
  apps/api/src/modules/todos/presentation/http/todos.controller.ts
  apps/web/package.json
  apps/web/src/features/todos/application/machines/create-todo.machine.test.ts
  apps/web/src/features/todos/application/machines/create-todo.machine.ts
  apps/web/src/features/todos/application/machines/todo-list.machine.test.ts
  apps/web/src/features/todos/application/machines/todo-list.machine.ts
  apps/web/src/features/todos/application/ports/todo-gateway.ts
  apps/web/src/features/todos/model/todo.test.ts
  apps/web/src/features/todos/model/todo.ts
  apps/web/src/infrastructure/http/todo-http-gateway.ts
  packages/domain/biome.json
  packages/domain/eslint.config.ts
  packages/domain/package.json
  packages/domain/tsconfig.json
  packages/domain/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor: decouple application layer from NestJS by removing decorators from use cases
  README.md
  apps/api/src/modules/todos/application/ports/todo-repository.port.ts
  apps/api/src/modules/todos/application/use-cases/create-todo.use-case.ts
  apps/api/src/modules/todos/application/use-cases/list-todos.use-case.ts
  apps/api/src/modules/todos/todos.module.ts
Due: prettier --write, eslint --fix

refactor(web): colocate todo HTTP gateway
  README.md
  apps/web/src/features/todos/infrastructure/http/todo-http-gateway.ts
  apps/web/src/features/todos/use-create-todo-machine.ts
  apps/web/src/features/todos/use-todo-list-machine.ts
Due: prettier --write, eslint --fix

build(api): add OpenAPI contract generation
  .github/workflows/test.yml
  README.md
  apps/api/biome.json
  apps/api/openapi/openapi.json
  apps/api/package.json
  apps/api/scripts/generate-openapi.ts
  apps/api/src/shared/presentation/api-documentation.ts
  apps/web/biome.json
  apps/web/src/features/todos/infrastructure/http/todo-http-gateway.ts
  apps/web/src/generated/api/index.ts
  apps/web/src/generated/api/types.gen.ts
  package.json
  pnpm-lock.yaml
  tooling/openapi-codegen/biome.json
  tooling/openapi-codegen/openapi-ts.config.ts
  tooling/openapi-codegen/package.json
Due: prettier --write, eslint --fix

refactor: remove packages/ui workspace and tooling/vitest-config
  apps/api/package.json
  apps/api/src/config/app.config.test.ts
  apps/api/src/config/app.config.ts
  apps/api/src/shared/presentation/api-documentation.ts
  apps/web/package.json
  apps/web/src/main.tsx
  apps/web/turbo.json
  apps/web/vitest.config.ts
  package.json
  packages/.keep
  packages/ui/biome.json
  packages/ui/package.json
  packages/ui/src/carousel.ts
  packages/ui/src/charts.ts
  packages/ui/src/code-highlight.ts
  packages/ui/src/core.ts
  packages/ui/src/dates.ts
  packages/ui/src/dropzone.ts
  packages/ui/src/form.ts
  packages/ui/src/hooks.ts
  packages/ui/src/icons.ts
  packages/ui/src/modals.ts
  packages/ui/src/notifications.ts
  packages/ui/src/nprogress.ts
  packages/ui/src/spotlight.ts
  packages/ui/src/styles.css
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/github/package.json
  tooling/github/setup/action.yml
  tooling/vitest-config/biome.json
  tooling/vitest-config/package.json
  tooling/vitest-config/src/configs/base-config.ts
  tooling/vitest-config/src/configs/ui-config.ts
  tooling/vitest-config/src/index.ts
  tooling/vitest-config/src/scripts/collect-json-outputs.ts
  tooling/vitest-config/tsconfig.json
  tooling/vitest-config/turbo.json
  turbo.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,ts,tsx,md,json,css}
  eslint --fix: any of: **/*.{js,ts,tsx}
